.row {
  padding: 20px 0;
}
.box {
  height: 50px;
  background-color: #000;
  margin-top: 20px;
}
.box2 {
  height: 20px;
  background-color: #000;
  margin-top: 20px;
  padding: 0 5px;
}
.second {
  height: 300px;
  background-color: #000;
  margin-bottom: 20px;
}
.third {
  height: 40px;
  background-color: #000;
  margin-bottom: 20px;
}
.forth {
  height:100px;
  background-color: #000;
  margin-bottom: 20px;

}
.forth4 {
  height: 100px;
  background-color: #000;
  margin-bottom: 20px;
}
.fifth {
  height: 200px;
  background-color: #000;
}
.fifth5 {
  height: 200px;
  background-color: #000;
}
